<h1>Cocktail List</h1>

<%= cl_image_tag("https://res.cloudinary.com/mattymccrystal/image/upload/v1599196772/ajeqbdq1rsvkkwofrycd.jpg",
      width: 400, height: 300, crop: :FILL) %>

<% @cocktails.each do |cocktail| %>

    <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>

<% end %>

<%= link_to "Add New Cocktail", new_cocktail_path%>



<!-- for face detection -->
<%# <%= cl_image_tag("IMAGE_WITH_FACE_ID",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>